{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% if organisation %}{{ organisation.name }}{% else %}{% trans "Lavenue" %}{% endif %} | {% if page_title %}{{ page_title }}{% else %}{% block page-title %}{% endblock %}{% endif %}</title>

	{% if organisation %}
		{% blocktrans trimmed with organisation=organisation.name asvar meta_description %}
			Meetings for the {{ organisation }} are handled on Lavenue, an online platform to manage structured meetings.
		{% endblocktrans %}
		{% else %}
		{% blocktrans trimmed asvar meta_description %}
			Lavenue is an online platform for the structured management of meetings for a variety of rule books.
		{% endblocktrans %}
	{% endif %}
	<meta name="description" content="{{ meta_description }}" />
	<meta property="og:description" content="{{ meta_description }}" />
	<meta property="og:image" content="{% static 'logo-social.png' %}" />

	<link rel="icon" type="image/png" href="{% static 'logo-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static 'logo-16x16.png' %}" sizes="16x16" />
	<link rel="mask-icon" href="{% static 'safari-tab.svg' %}" color="rgb(10, 176, 207)">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	{% block extra-css %}{% endblock %}
	{% block extra-head %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
