{% load i18n %}
{% blocktrans trimmed with user=user.get_username %}
Hi, {{ user }}!
{% endblocktrans %}

{% blocktrans trimmed %}
Someone asked for a password reset for the email address {{ email }} for Lavenue.
{% endblocktrans %}

{% trans 'If this was you, follow the link below to reset your password:' %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans trimmed %}
If this wasn't you, you may safely ignore this email message.
{% endblocktrans %}
